body{
  padding: 0;
  margin:0;
  font-family: Arial, sans-serif;
}
#sandwichmenu {
	text-align: left;
	position: fixed;
	z-index:10000;
	background:white;
	width:100%;
  opacity:0.7;
  top:0;
}
.tpl_hamburger svg {height: 40px;width: 60px;}
/*For media */.tpl_hamburger svg
 {cursor: pointer;  height: 70px;  transform: translate3d(0px, 0px, 0px);  width: 100px;}
svg:not(:root) {overflow: hidden;}
.tpl_hamburger path.top, .tpl_hamburger path.bottom {
    stroke-dasharray: 240px, 950px;
}
.tpl_hamburger path {
    fill: none; stroke: gray; stroke-dashoffset: 0; stroke-linecap: round; stroke-width: 40px;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}
.tpl_hamburger path.middle {stroke-dasharray: 240px, 240px;}
.tpl_hamburger path {
    fill: none; stroke:black; stroke-dashoffset: 0; stroke-linecap: round; stroke-width: 40px;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}

.tpl_hamburger.active path.top, .tpl_hamburger.active path.bottom {
    stroke-dashoffset: -650px;
}
.tpl_hamburger path.top, .tpl_hamburger path.bottom {
    stroke-dasharray: 240px, 950px;
}
.tpl_hamburger.active path.middle {
    stroke-dasharray: 1px, 220px;
    stroke-dashoffset: -115px;
}

.js_menu {
	z-index:1000;
	position: fixed;
	left:-100%;
	transition:0.34s;
	justify-content: center;
	align-items: center;
	display: flex;
	width:100%;
	height:100%;
	background:#222222;
  top:0;
}
.js_menu ul{
	font-size:220%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#fff;
}
.js_menu ul li{
	list-style:none;
	padding:5px;
  padding-bottom:30px;
}
.js_menu ul li a{
  text-decoration: none;
  color:#fff;
}
.js_menu ul li:hover{
	cursor: pointer;
}
.js_menu.active {
	left:0%;
}
.banner{
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items:center;
}
.banner img{
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0.65;
}
.banner h2{
  font-size:60px;
  color:#222222;
  text-align: center;
  z-index:1;
}
.main-content {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding-left:10px;
  padding-right:10px;
}
.main-content p{
  font-size:25px;
  color:black;
}
.plus-material{
  background:#5B68A3;
  padding:25px;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  height:auto;
  margin-bottom:30px;
}
.plus-material a{
  text-decoration: none;
}
.plus-material img{
  padding-top:25px;
  width:auto;
}
iframe {
  width:95%;
  height:500px;
  display: block;
  margin-left: 20px;
  margin-right:20px;
}
.types{
  width:30%;
  display: inline-block;
  border:2px solid black;
  background:white;
  box-shadow:3px 3px 10px ;
}
.types h3{
  color:black;
}
.types p{
  color:black;
}
.types-second{
  width:40%;
  display: inline-block;
  border:2px solid black;
  background:white;
  box-shadow:3px 3px 10px ;
  margin-top:20px;
}
.types-second h3{
  color:black;
}
.types-second p{
  color:black;
}
.container{
  margin-left:30px;
  margin-right:30px;
  margin-top:10px;
  margin-bottom:10px;
  display: block;
}
.form-group{
  margin-bottom:10px;
  margin-top:10px;
  margin-left:30px;
  margin-right:30px;
}
.form-group:hover label{
  opacity:1;
}
legend{
  font-size:35px;
}
.naming{
  font-size:25px;
  opacity:0;
}
input{
  border:0px solid black;
  border-bottom:1px solid black;
}
.btn{
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
  width:100%;
  height:70px;
  background:black;
  font-size: 35px;
  border:1px solid black;
  color:white;
}
.btn:hover{
  background:white;
  color:black;
}
.form-control{
  width:90%;
  font-size: 35px;
  margin-left:30px;
  margin-right:30px;
}
.btn-for-back{
  width:90%;
  height:70px;
  background:black;
  font-size: 35px;
  border:1px solid black;
  color:white;
}
.btn-for-back:hover{
  background:white;
  color:black;
}
.thank{
  text-align: center;
  font-size:95px;
}
footer{
  text-align: center;
  background:#222222;
  padding:15px;
  font-size:220%;
  border-top:2px solid black;
  margin-top:30px;
}
/*First*/
.banner-for-main .content h2{
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  color:black;
  width:100%;
  height:25vh;
  font-size:350%;
}
.content-main{
  padding:25px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.content-main p{
  font-size:25px;
  color:black;
}
